<!DOCTYPE html>
<html>
<head>
    <title>Login | Private Chat</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="login-box">
        <h2>Private Chat Login</h2>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" required />
            <input type="password" name="password" placeholder="Password" required />
            <button type="submit">Enter</button>
        </form>
    </div>
</body>
</html>
